@import './styles/theme.css';

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--color-page);
  color: var(--text-primary);
}

#root {
  min-height: 100vh;
  width: 100%;
}
